<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>520246473993-ok61i5oaut09t7c0t3bb66c84dmi4dn7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.520246473993-ok61i5oaut09t7c0t3bb66c84dmi4dn7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>520246473993-vutvbi9h3ttffbvung6ltmk0hotkvinv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCwaswtbYkUeVHdbfNfL2WOCk00Lbjp-ec</string>
	<key>GCM_SENDER_ID</key>
	<string>520246473993</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gr.progressnet.smsngo</string>
	<key>PROJECT_ID</key>
	<string>smsandgo</string>
	<key>STORAGE_BUCKET</key>
	<string>smsandgo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:520246473993:ios:ea94852d849b64e156cfd8</string>
	<key>DATABASE_URL</key>
	<string>https://smsandgo.firebaseio.com</string>
</dict>
</plist>