<ion-header>
    <ion-toolbar color="primary">
        <ion-item color="primary" slot="start">
            <ion-icon name="reader"></ion-icon>
        </ion-item>
        <ion-title>{{'editPermit.title' | translate}}</ion-title>
        <ion-button color="light" fill="clear" slot="end" shape="round" size="small" (click)="onBack()">
            <ion-icon slot="icon-only" name="backspace"></ion-icon>
        </ion-button>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label text-wrap>
            {{'editPermit.body' | translate}}
        </ion-label>
    </ion-item>

    <ion-button color="primary" (click)="onTakePicture()" expand="full">
        <ion-icon name="camera" slot="start"></ion-icon>
        {{'editPermit.fromCamera' | translate}}
    </ion-button>

    <ion-item style="text-align: center;">
        <ion-label>
            {{'editPermit.or' | translate}}
        </ion-label>
    </ion-item>
    <ion-item>
        <ion-icon name="folder" slot="start"></ion-icon>
        <ion-label position="fixed">{{'editPermit.fromFile' | translate}}</ion-label>
        <input #imageInput type="file" accept="image/*" (change)="changeListener(imageInput)">
    </ion-item>

    <ion-item>
        <ion-label *ngIf="!imageExist">{{'editPermit.imagenNotExist' | translate}}</ion-label>
        <ion-label *ngIf="imageExist">{{'editPermit.imageExist' | translate}}</ion-label>
    </ion-item>
    <ion-button color="danger" *ngIf="imageExist" expand="full" (click)="onDelete()">{{'editPermit.delete' | translate}}</ion-button>
</ion-content>